
body {
    background-color: blue;
    color: rgb(255, 167, 167);
}
.paragraph {
    color: aqua;
}
.judul {
    color: rgb(255, 5, 5);
}
.sejarah {
    background-color: black;
}
.hosting {
    font-size: 5px;
}
#imp-sejarah:hover {
    color: blue;
}